
.ridge{
    border-left-style:  solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(230, 238, 238) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.imgBorder{
    border-style: solid;
    padding:2px;
    border-width: 1px;
    border-color: rgb(230, 238, 238) !important;
}
.stylLink{
    text-decoration: none !important;
    color: black;
}

.stylLink:hover{
    color: black;
}

.pagination>li>a, .pagination>li>span {
    border-color:  rgb(255, 90, 0);
    color: black;
}
.pagination>li>a:hover{
    color: white;
    background-color: rgb(255, 90, 0);
}
.pagination>li>a:active{
    color: white;
    background-color: rgb(255, 90, 0);
}
.card{
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(230, 238, 238) !important;
box-sizing: border-box;
}

.CardRest:hover{
    background-color: rgb(242, 242, 241);
}

    /* .card.cardBorder{
    border: 1px solid !important;
    border-color:rgb(244, 248, 248) !important;  
} */
.back:hover{
color: orange !important;
}

.searchStyle{
    border-radius: 0 !important;
    border-style: ridge !important;
}
.searchStyle:hover , .searchStyle:active{
    border:ridge !important;
    border-color: orange !important;
    box-shadow:none!important; 
}


.card-body{
    border-radius:0% !important;
}



.filterBTN{
border: none !important;
}


.filterBTN:active , .filterBTN:hover , .filterBTN{
        border: none !important;
}
