.card-header1{
    background-color: #ff5a00 !important;
}
.card-body111{
    background-color: #F6F6F6 !important;
    padding: 0 !important;
    box-shadow:0 2px 20px 0 rgba(0, 0, 0, 0.19) !important;

}

.styleborder{
    border-right: 1px solid #c8c3c3 !important;
}

.cardbginReviews{
background-color: #F6F6F6 !important;
}